  <footer>
    <div class="icon">
      <a routerLink="/politicas"></a>
      <i class="fa-solid fa-landmark"></i>
      <span class="icon-name">Politicas</span>
    </div>
    <div class="icon">
      <a routerLink="/politicas"></a>
      <i class="fa-solid fa-cloud"></i>
      <span class="icon-name">Home</span>
    </div>
    <div class="icon">
      <a routerLink="/politicas"></a>
      <i class="fa-solid fa-house"></i>
      <span class="icon-name">Inicio de sesion</span>
    </div>

    <div class="icon">
      <a routerLink="/politicas"></a>
      <i class="fa-solid fa-file-medical"></i>
      <span class="icon-name">Cita Medica</span>
    </div>

    <div class="icon">
      <a routerLink="/politicas"></a>
      <i class="fa-solid fa-chalkboard-user"></i>
      <span class="icon-name">Consejos</span>
    </div>

    <div class="icon">
      <a routerLink="/politicas"></a>
      <i class="fa-solid fa-calendar-check"></i>
      <span class="icon-name">Agenda</span>
    </div>

  </footer>

