div{

    width: 50vw;
    /*height: 10rem;*/
    padding: 2rem;
    margin: 0 auto;
    font: 3em sans-serif;
   align-items: center;
}

.buttons-container{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;

}

.buttons-container button {
    width: 7rem;
    padding: 10px;
    background-color: rgba(95, 226, 226, 0.513);
    border-color: rgba(95, 226, 226, 0.813);
    cursor: pointer;
    user-select: none;
    flex-basis: 10rem;
    transition: all .3s ease;
}

.buttons-container button:active{
    transform: translateY(9px);
    box-shadow: 0px 0px 2px rgba(34, 34, 34, 0.479);
    border: none;
}