 <form [formGroup]="form" (ngSubmit)="keep($event)" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input
        matInput
        placeholder="Ingresa tu usuario o tu correo"
        formControlName="email"
        [ngClass]="{
          'is-invalid': form.get('email')?.errors && form.get('email')?.dirty
        }"
      />
      <div
        *ngIf="form.get('email')?.errors && form.get('email')?.touched"
        class="invalid-feedback"
      >
        <p *ngIf="form.get('email')?.hasError('required')">Campo Requerido</p>
        <p *ngIf="form.get('email')?.hasError('email')">Email invalido</p>
      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        formControlName="password"
        [ngClass]="{
          'is-invalid':
            form.get('password')?.errors && form.get('password')?.dirty
        }"
      />
      <div
        *ngIf="form.get('password')?.errors && form.get('password')?.touched"
        class="invalid-feedback"
      >
        <p *ngIf="form.get('password')?.hasError('required')">
          Campo Requerido
        </p>
        <p *ngIf="form.get('password')?.hasError('minlength')">
          Minimo 4 caracteres
        </p>
      </div>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Login
    </button>
  </form> 
  