<app-generic-title [title]="'Consejos'"></app-generic-title>

<div class="container" >
  <!-- .div-item-$*4>img[src=item-$]+span.item-$ -->
  <div class="div-item-1 animate__animated animate__zoomInDown animate__delay-2s">
    <img
      src="https://media.istockphoto.com/photos/doctor-holding-red-heart-and-promoting-healthy-lifestyle-and-of-picture-id1298127415?b=1&k=20&m=1298127415&s=170667a&w=0&h=4rPAPgY0q3jYS2t8OOy8O9zfrEGBRr-8_S1Ak9cQc7U="
      alt=""
    /><span class="item-1 animate__animated animate__pulse">
      Alimentacion balanceada para el cuidado de su salud
    </span>
  </div>
  <div class="div-item-2 animate__animated animate__zoomInDown animate__delay-3s">
    <img src="https://media.istockphoto.com/photos/female-doctor-consoling-senior-woman-wearing-face-mask-during-home-picture-id1284869020?b=1&k=20&m=1284869020&s=170667a&w=0&h=fzLXU36tuKJgx_emeUgnu2hqHcSR0jFvHGvawsN11Pg=" alt="" />
    <span class="item-2">
      Cuidados especiales para el adulto y sus acompanates
    </span>
  </div>
  <div class="div-item-3 animate__animated animate__zoomInDown animate__delay-4s">
    <img src="https://cdn.pixabay.com/photo/2021/01/24/20/47/tabby-5946499__340.jpg" alt="" />
    <span class="item-3">
      Como te ayuda tener la mente ocupada en un deporte o hobby
    </span>
  </div>
  <div class="div-item-4 animate__animated animate__zoomInDown animate__delay-5s">
    <img src="https://cdn.pixabay.com/photo/2016/06/02/09/47/a-change-in-lifestyle-1430599__340.jpg" alt="" />
    <span class="item-4">
      La rutina, exactitud y seguimiento de sus habitos
    </span>
  </div>
</div>
